@font-face{
	font-family: 'Georgia';	
	src: url('../fonts/georgiaitalic.ttf');
	font-weight: normal;
	font-style: italic;
	}
	
@font-face{
	font-family: 'Myriad';	
	src: url('../fonts/MyriadProBold.ttf');
	font-weight: bold;
	font-style: normal;
	}

@font-face{
	font-family: 'Myriad';	
	src: url('../fonts/MyriadProRegular.ttf');
	font-weight: normal;
	font-style: normal;
	}


* {
	box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  width: 1600px;
  height: 100%;
}
.wrapper {

}
.content {

}

header {
	height: 1064px;
	background-color: #000;
	position: relative;
}

nav {
	position: absolute;
	left: 202px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	width: 1199px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.17);

}

.logo {
	position: relative;
    top: 4px;
    left: 2px;
}

nav .anchors a {
	color: #fff;
	text-decoration: none;
	font-family: Lato;
	font-weight: 400;
	font-size: 16px;
}

.anchors .items {
	display: flex;
	align-items: center;
	height: 90px;
	border: 2px solid rgba(0,0,0,0);
}

.anchors .items:hover {
	border-bottom: 2px solid #fff;
	background-color: rgba(255, 255, 255, 0.05);
}

nav .anchors {
	width: 637px;
	display: flex;
	justify-content: space-between;
}

header .image {
	opacity: 0.17;
	position: relative;
	top: 47px;
}

.textBlock {
	color: #fff;
	width: 445px;
	height: 190px;
	position: absolute;
	top: 418px;
	left: 578px;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.textBlock p {
	margin: 0;
	margin-top: 5px;
	font-family: Georgia;
	font-style: italic;
	font-size: 32px;
}
 
.textBlock h1 {
	margin: 0;
	font-family: Myriad;
	font-weight: bold;
	font-size: 72px;
}

.member {
	height: 121px;
	background-color: #39d083;
	opacity: 0.97;
	position: relative;
	top : -121px;
}


.logreg {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 121px;
	font-family: Myriad;
	font-weight: normal;
	font-size: 24px;
	color: #fff;
}

.login {
	position: relative;
	margin: 0;
    width: 811px;
	background-color: #203747;
	opacity: 0.91;
    height: 121px;
    clip-path: polygon(0 0, 100% 0%, 96.5% 100%, 0% 100%);
}

.register {
	position: absolute;
    left: 785px;
    margin: 0;
    width: 815px;
    height: 121px;
    clip-path: polygon(4% 0%, 100% 0%, 100% 100%, 0% 98%);
}

.login:hover {
	background-color: #003747;
}

.register:hover {
	background-color: #09d083;
}

.login p {
    position: absolute;
    left: 471px;
    top: 23px;
    letter-spacing: 0.8px;
}

.register p {
    position: absolute;
    left: 266px;
    top: 23px;
    letter-spacing: 0.8px;
}

.domain {
	height: 578px;
	background-color: #fff;
	position: relative;
	top: -204px;
}

.domain .text p:first-child {
	font-family: Lato;
	font-size: 24.5px;
	font-weight: 700;
	text-align: center;
	margin-top: 85px;
}

.domain .text p:last-child {
	font-family: Lato;
	margin-top: -1px;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
}

.packages {
	height: 767px;
	background-color: #fff;
	position: relative;
	top: -204px;
}

.packages .background {
	position: relative;
	z-index: 1;
}

.packs {
	overflow: hidden;
	position: relative;
    top: -293px;
    left: 140px;
	display: flex;
	z-index: 2;
}

.block {
	background-color: #fff;
	margin: 5px 0 5px 59.7px;
	width: 255px;
	height: 565px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06)
}

.block:nth-child(1) {
	border-top: 5px solid #f9d423;
}

.block:nth-child(2) {
	border-top: 5px solid #7f8c8d;
}

.block:nth-child(3) {
	border-top: 5px solid #f85f40;
}

.block:nth-child(4) {
	border-top: 5px solid #1abc9c;
}

.block .top {
	height: 148px;
}

.circle {
	height: 56px;
	width: 56px;
	position: relative;
	top: 36px;
  left: 95px;
	border-radius: 50%;
	border: 1px solid blue;
}


.block .bottom p:last-child {
	font-family: Myriad;
	font-weight: bold;
	font-size: 17px;
	color: rgba(40, 40, 40, 255);
	text-align: center;
}

.block .top h2 {
	font-family: Lato;
	font-size: 16px;
  margin-top: 52px;
  text-align: center;
}

.block .middle {
	height: 284px;
	width: 200px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	top: -5px;
	color: rgba(180, 180, 180, 255);
	text-align: left;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}


.middle p {
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	color: #b4b4b4;
	letter-spacing: -0.3px;
	word-spacing: 1px;
}

.middle .px14 {
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	color: #b4b4b4;
	letter-spacing: -0.3px;
}

.middle div {
	display: flex;
	justify-content: space-between;
  height: 38.5px;
}

.middle p:last-child {
	color: #f9d423;
}

.block .bottom {
	height: 133px;
}

.bottom p {
	font-family: Lato;
	font-weight: 900;
	font-size: 27.7px;
	text-align: center;
	font-weight: bold;
	margin-top: 23px;
}

.bottom p::before {
	content: "$";
	font-family: Lato;
	font-weight: 700;
	font-size: 16px;
	position: relative;
    top: -6px;
    left: -1px;
}

.bottom span:last-child {
	font-family: Lato;
	font-weight: 400;
	font-size: 13px;
	color: #b4b4b4;
}

.bottom a {
	text-decoration: none;
	color: black;
	font-family: Lato;
	font-weight: 700;
	font-size: 16px;
	position: relative;
    left: 77px;
    top: -4px;
}

.bottom .line {
	width: 105px;
	border-top: 3px solid #f9d423;
	position: relative;
	left: 74px;
    top: -43px;
}

.about-us {
	height: 400px;
	position: relative;
	top: -204px;
}

.block-of-text {
	width: 520px;
    height: 180px;
    position: relative;
    left: 199px;
	top: 96px;
}
.block-text:after {
    content: url(../images/side-bar.png);
    position: absolute;
    left: 519px;
    top: 8px;
}

.block-text:before {
    content: url(../images/top-bar.png);
    position: absolute;
    top: -112px;
    left: 1px;
}

.block-text {
	width: 423px;
}

.block-text h2 {
	margin: 0;
  font-size: 35px
	text-align: center;
	font-size: 35px;
	color: #000;
}

.block-text h2 span:nth-child(1) {
	font-family: Lato;
	font-weight: 900;
}

.block-text h2 span:nth-child(2) {
	font-family: Lato;
	font-weight: 600;
}

.block-text p {
  font-family: Lato;
  font-weight: 300;
  font-size: 18px;
  margin-top: 22px;
  color: #747474;
	line-height: 1.5;
	letter-spacing: 0.05px;
}

.member1, .member2, .member3 {
	width: 95px;
	height: 95px;
	border-radius: 50%;
	border: 2.5px solid green;
	margin: 0 auto;
}

.member1 {
	background-image: url('../images/team/member1.png');
	background-position: -1px 0px;
}

.member2 {
	background-image: url('../images/team/member2.png');
	background-position: -5px -3px;
}

.member3 {
	background-image: url('../images/team/member3.png');
	background-position: -9px 1px;
}

.wrapper-member {
	position: relative;
  left: 811px;
  top: -74px;
  width: 577px;
  display: flex;
  justify-content: space-between;
}

.team-member {
	width: 120px;
}

.member-profession {	
	font-family: Lato;
	font-size: 15px;
	color: rgba(142, 142, 142, 255);
	text-align: center;
	position: relative;
	top: -9px;
}

.team .names {
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.4px;
	margin-top: 18px;
}

.team-member .icons {
	display: flex;
	justify-content: center;
}

.team-member .icons	a {
	margin: 0px 13px;
  font-size: 14px;
  position: relative;
  top: -12px;
  left: -3px;
  color: rgba(191, 191, 191, 255);
}

.team-member .icons	a:hover {
	margin: 0px 13px;
  font-size: 14px;
  position: relative;
  top: -12px;
  left: -3px;
color: rgba(31, 137, 186, 255);
}

.comments {
    height: 190px;
    position: relative;
    top: -204px;
    background-image: url(../images/comments-bg.png);
    background-position: -3px -437px;
}

.functions {
	min-height: 342px;
	position: relative;
	top: -204px;
}

.function-wrapper {
	position: relative;
	top: 97px;
	left: 200px;
}

.function {
	width: 222px;
	height: 147px;
}

.function .circle	{
	margin: 0 auto;
	height: 60px;
	width: 60px;
	border-radius: 50%;
}

.function h4 {
	text-align: center;

}

.function p {
	text-align: center;
}

.function .circle:first-child {
	background-color: #f1c40f;

}

footer {
	height: 20px;
	background-color: #2a2a2a;
}