@font-face{
	font-family: 'Georgia';	
	src: url('../fonts/georgiaitalic.ttf');
	font-weight: normal;
	font-style: italic;
	}
	
@font-face{
	font-family: 'Myriad';	
	src: url('../fonts/MyriadProBold.ttf');
	font-weight: bold;
	font-style: normal;
	}

@font-face{
	font-family: 'Myriad';	
	src: url('../fonts/MyriadProRegular.ttf');
	font-weight: normal;
	font-style: normal;
	}


* {
	box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  width: 1600px;
  height: 100%;
}
.wrapper {

}
.content {

}

header {
	height: 1064px;
	background-color: #000;
	position: relative;
}

nav {
	position: absolute;
	left: 202px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	width: 1199px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.17);

}

.logo {
	position: relative;
    top: 1px;
    left: 1px;
}

nav .anchors a {
	color: #fff;
	text-decoration: none;
	font-family: Lato;
	font-weight: 400;
	font-size: 16px;
}

.anchors .items {
	display: flex;
	align-items: center;
	height: 90px;
	border: 2px solid rgba(0,0,0,0);
}

.anchors .items:hover {
	border-bottom: 2px solid #fff;
	background-color: rgba(255, 255, 255, 0.05);
}

nav .anchors {
	width: 637px;
	display: flex;
	justify-content: space-between;
}

header .image {
	opacity: 0.17;
	position: relative;
	top: 47px;
}

.textBlock {
	color: #fff;
	width: 445px;
	height: 190px;
	position: absolute;
	top: 418px;
	left: 578px;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.textBlock p {
	margin: 0;
	margin-top: 5px;
	font-family: Georgia;
	font-style: italic;
	font-size: 32px;
}
 
.textBlock h1 {
	margin: 0;
	font-family: Myriad;
	font-weight: bold;
	font-size: 72px;
}

.member {
	height: 121px;
	background-color: #39d083;
	opacity: 0.97;
	position: relative;
	top : -121px;
}


.logreg {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 121px;
	font-family: Myriad;
	font-weight: normal;
	font-size: 24px;
	color: #fff;
}

.login {
	position: relative;
	margin: 0;
    width: 811px;
	background-color: #203747;
	opacity: 0.91;
    height: 121px;
    clip-path: polygon(0 0, 100% 0%, 96.5% 100%, 0% 100%);
}

.register {
	position: absolute;
    left: 785px;
    margin: 0;
    width: 815px;
    height: 121px;
    clip-path: polygon(4% 0%, 100% 0%, 100% 100%, 0% 98%);
}

.login:hover {
	background-color: #003747;
}

.register:hover {
	background-color: #09d083;
}

.login p {
    position: absolute;
    left: 471px;
    top: 23px;
    letter-spacing: 0.8px;
}

.register p {
    position: absolute;
    left: 266px;
    top: 23px;
    letter-spacing: 0.8px;
}

.domain {
	height: 578px;
	background-color: #fff;
	position: relative;
	top: -204px;
}

.domain .text p:first-child {
	font-family: Lato;
	font-size: 24.5px;
	font-weight: 700;
	text-align: center;
	margin-top: 85px;
}

.domain .text p:last-child {
	font-family: Lato;
	margin-top: -1px;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
}

.packages {
	height: 767px;
	background-color: #fff;
	position: relative;
	top: -204px;
}

.packages .background {
	position: relative;
	z-index: 1;
}
.packages .shadowing {
	background-color: #000;
	height: 767px;
	position: absolute;
	z-index: 3;
	opacity: 0.7;
}

.packs {
	overflow: hidden;
	position: relative;
    top: -293px;
    left: 140px;
	display: flex;
	z-index: 2;
}

.block {
	background-color: #fff;
	margin: 5px 0 5px 59.7px;
	width: 255px;
	height: 565px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06)
}

.block .top {
	height: 148px;
}

.circle {
	height: 56px;
	width: 56px;
	position: relative;
	top: 36px;
  left: 95px;
	border-radius: 50%;
	border: 1px solid blue;
}


.block .bottom p:last-child {
	font-family: Myriad;
	font-weight: bold;
	font-size: 17px;
	color: rgba(40, 40, 40, 255);
	text-align: center;
}

.block .top h2 {
  font-family: Lato;
  font-size: 16px;
  margin-top: 52px;
  text-align: center;
}

.block .middle {
	height: 284px;
	width: 200px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	top: -5px;
	color: rgba(180, 180, 180, 255);
	text-align: left;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}


.middle p {
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	color: #b4b4b4;
	letter-spacing: -0.3px;
	word-spacing: 1px;
}

.middle .px14 {
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	color: #b4b4b4;
	letter-spacing: -0.3px;
}

.middle div {
	display: flex;
	justify-content: space-between;
  height: 38.5px;
}

.middle .price {
	color: #f9d423;
}

.block .bottom {
	height: 133px;
}

.bottom p {
	font-family: Lato;
	font-weight: 900;
	font-size: 27.7px;
	text-align: center;
	font-weight: bold;
	margin-top: 23px;
}

.bottom p::before {
	content: "$";
	font-family: Lato;
	font-weight: 700;
	font-size: 16px;
	position: relative;
    top: -6px;
    left: -1px;
}

.bottom span:last-child {
	font-family: Lato;
	font-weight: 400;
	font-size: 13px;
	color: #b4b4b4;
}

.bottom a {
	text-decoration: none;
	color: black;
	font-family: Lato;
	font-weight: 700;
	font-size: 16px;
	position: relative;
    left: 77px;
    top: -4px;
}

.bottom .line {
	width: 105px;
	border-top: 3px solid #f9d423;
	position: relative;
	left: 74px;
    top: -43px;
}

.block:nth-child(1) {
	border-top: 5px solid #f9d423;
}

.block:nth-child(2) {
	border-top: 5px solid #7f8c8d;
}

.block:nth-child(2) .price {
	color: #7f8c8d;
}

.block:nth-child(2) .line {
	border-top: 3px solid #7f8c8d;
}

.block:nth-child(3) {
	border-top: 5px solid #f85f40;
}

.block:nth-child(3) .price {
	color: #f85f40;
}

.block:nth-child(3) .line {
	border-top: 3px solid #f85f40;
}

.block:nth-child(4) {
	border-top: 5px solid #1abc9c;
}

.block:nth-child(4) .price {
	color: #1abc9c;
}

.block:nth-child(4) .line {
	border-top: 3px solid #1abc9c;
}

.about-us {
	height: 400px;
	position: relative;
	top: -204px;
}

.block-of-text {
	width: 520px;
    height: 180px;
    position: relative;
    left: 199px;
	top: 96px;
}
.block-text:after {
    content: url(../images/side-bar.png);
    position: absolute;
    left: 519px;
    top: 8px;
}

.block-text:before {
    content: url(../images/top-bar.png);
    position: absolute;
    top: -112px;
    left: 1px;
}

.block-text {
	width: 423px;
}

.block-text h2 {
	margin: 0;
    font-size: 35px
	text-align: center;
	font-size: 35px;
	color: #000;
}

.block-text h2 span:nth-child(1) {
	font-family: Lato;
	font-weight: 900;
}

.block-text h2 span:nth-child(2) {
	font-family: Lato;
	font-weight: 600;
}

.block-text p {
  font-family: Lato;
  font-weight: 300;
  font-size: 18px;
  margin-top: 22px;
  color: #747474;
	line-height: 1.5;
	letter-spacing: 0.05px;
}

.member1, .member2, .member3 {
	width: 95px;
	height: 95px;
	border-radius: 50%;
	border: 5px solid #e5e5e5;
	margin: 0 auto;
}

.member1 {
	background-image: url('../images/team/member1.png');
	background-position: -1px 0px;
}

.member2 {
	background-image: url('../images/team/member2.png');
	background-position: -5px -3px;
}

.member3 {
	background-image: url('../images/team/member3.png');
	background-position: -9px 1px;
}

.wrapper-member {
	position: relative;
  left: 811px;
  top: -74px;
  width: 577px;
  display: flex;
  justify-content: space-between;
}

.team-member {
	width: 120px;
}

.member-profession {	
	font-family: Lato;
	font-size: 15px;
	color: rgba(142, 142, 142, 255);
	text-align: center;
	position: relative;
	top: -9px;
}

.team .names {
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.4px;
	margin-top: 18px;
}

.team-member .icons {
	display: flex;
	justify-content: center;
}

.team-member .icons	a {
	margin: 0px 13px;
  font-size: 14px;
  position: relative;
  top: -12px;
  left: -3px;
  color: rgba(191, 191, 191, 255);
}

.team-member .icons	a:hover {
	margin: 0px 13px;
  font-size: 14px;
  position: relative;
  top: -12px;
  left: -3px;
color: rgba(31, 137, 186, 255);
}

.comments {
    height: 190px;
    position: relative;
    top: -226px;
    background-image: url(../images/comments-bg.png);
	background-position: -3px -437px;
}

.comments .background-black {
	position: absolute;
	top: 0;
	height: 190px;
	width: 100%;
	z-index: 3;
	background-color: #000;
	opacity: 0.75;

}

.caption {
    width: 900px;
    position: relative;
    z-index: 10;
    left: 351px;
    top: 45px;
    letter-spacing: 0.3px;
    line-height: 31px;
}

.comments p, .comments .caption h3 {
	color: #fff;
	text-align: center;
	z-index: 10;
}

.comments h3 {
	font-family: Myriad;
	font-weight: normal;
	font-size: 20px;
	position: relative;
}

.slide {
	display: flex;
    justify-content: space-between;
    align-items: center;
	width: 163px;
    position: relative;
    left: 721px;
    top: 15px;
    letter-spacing: 0.3px;
}

.slide p {
	font-family: Myriad;
	font-size: 21px;
	font-weight: normal;
}

.pagination {
    padding-left: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 66px;
    height: 20px;
	z-index: 10;
	border-left: 1px solid #fff;
}

.pagination div {
	height: 8px;
	width: 8px;
	border: 1px solid #fff;
	border-radius: 50%;
}

.pagination div:hover {
	height: 8px;
	width: 8px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
}

.functions {
	min-height: 342px;
	position: relative;
	top: -226px;
}

.function-wrapper {
	width: 1225px;
    position: relative;
    top: 96px;
    left: 187px;
    display: flex;
	justify-content: space-between;
	overflow: hidden;
}

.function {
	width: 250px;
	height: 147px;
}

.function .fn-circle	{
    margin: 0 auto;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fn-circle i {
	font-size: 26px;
    color: #fff;
}

.function h4 {
    text-align: center;
    font-size: 17.5px;
    font-family: Lato;
    font-weight: 800;
    margin: 0 auto;
    position: relative;
    top: 20px;
}

.function p {
	text-align: center;
    font-size: 16px;
    line-height: 23px;
    font-family: Lato;
    margin: 0;
    position: relative;
    top: 24px;
}

.function:nth-child(1) .fn-circle {
	background-color: #f1c40f;
}

.function:nth-child(2) .fn-circle {
	background-color: #1f89ba;
}

.function:nth-child(3) .fn-circle {
	background-color: #95a5a6;
}

.function:nth-child(4) .fn-circle {
	background-color: #f1540f;
}

footer {
	height: 294px;
	background-color: #2a2a2a;
	position: relative;
	top: -226px;
}

footer .nav {
	width: 1200px;
	height: 75px;
	border-bottom: 1px solid #4a4a4a;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

footer .nav .logo {
	color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
}

footer .menu {
	width: 472px;
	display: flex;
	justify-content: flex-end;
	padding-right: 3px;
}

footer .menu ul {
	height: 76px;
    width: 472px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	margin: 0;
}

footer .menu a {
	text-decoration: none;
	font-family: Lato;
	font-weight: 600;
	font-size: 13px;
	color: #686868;
}

footer .menu a:hover {
	text-decoration: none;
	font-family: Lato;
	font-weight: 16px;
	color: #fff;
}

.description, .links, .adress {
	width: 378px;
	height: 150px;
}

.adress {
    position: absolute;
    left: 881px;
    top: -1px;
    border-left: 1px solid #686868;
}

.links {
	position: absolute;
    top: -7px;
    left: 447px;
}

.info {
	display: flex;
	position: relative;
	left: 200px;
	top: 36px;
	width: 1200px;
}

.info .links ul {
    height: 120px;
    width: 393px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.info .links a {
	text-decoration: none;
	color: #686868;
}

.info .links a:hover {
	text-decoration: none;
	color: #fff;
}

.links a i {
	margin-right: 7px;
}

.info .links li {
    margin-top: 12px;
    font-family: Lato;
    font-size: 15px;
}

.description {
	border-right: 1px solid #686868;
}

.description-wrapper {
    width: 300px;
    height: 150px;
	overflow: hidden;
	color: #686868;
}

.description-wrapper p {
	font-family: Lato;
	font-size: 15px;
	font-weight: 400;
	line-height: 26px;
}

.description-wrapper p:last-child span {
	font-weight: 700;
}

.description-wrapper p:last-child {
    margin-top: -2px;
    word-spacing: 1px;
}

.phone, .email {
	color: #686868;
	height: 30px;
}

.phone a, .email a {
    margin-left: 6px;
    text-decoration: none;
    color: #686868;
    font-family: Lato;
    font-size: 14px; 	
}

.phone a:hover {
	text-decoration: none;
	color: #fff;
} 
.email a:hover {
	text-decoration: none;
	color: #fff;
}

.adress-wrapper {
	width: 250px;
	position: relative;
    top: 21px;
    left: 83px;
}

.phone a {
	font-weight: 800;
    letter-spacing: 0.3px;
}

.email a {
	font-size: 15px;
    letter-spacing: -0.4px;
}

.email i {
	font-size: 14px;
}

.adress-wrapper p {
	color: #686868;
    font-family: Lato;
    font-weight: 500;
    font-size: 15px;
    margin-top: -7px;
    margin-left: -1px;
    line-height: 30px;
    letter-spacing: -0.1px;
}